/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    max-width: 1171px;
    margin: auto;
    padding: 0 16px;
}

.footer {
    background-image: url('../img/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    padding-bottom: 214px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row:first-child {
    margin-bottom: 90px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo__icon {
    width: 78px;
    height: 30px;
    background-image: url('../img/logo.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.logo__text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    color: #FFFFFF;
    white-space: pre-line;
}

.logo__text span {
    text-decoration: underline;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 552px;
}

.social__item {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social__item:last-child {
    margin-right: 0;
}

.social__instagram {
    background-image: url('../img/instagram.svg');
}

.social__whatsapp {
    background-image: url('../img/whatsapp.svg');
}

.social__youtube {
    background-image: url('../img/youtube.svg');
}

.social__telegram {
    background-image: url('../img/telegram.svg');
}

.social__facebook {
    background-image: url('../img/facebook.svg');
}

.social__vkontacte {
    background-image: url('../img/vk.svg');
}

.list {
    margin-right: 24px;
}

.list__title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.list__item {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-top: 12px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}


.container-copyter {
    align-self: flex-end;
    width: 200px;
}

.copyter {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    color: #FEE1ED;
    white-space: pre-line;
}

.copyter a {
    color: #FEE1ED;
}

.logo-mobile {
    display: none;
}



@media screen and (max-width: 640px) {
    .logo-desctop {
        display: none;
    }

    .logo-mobile {
        display: flex;
    }

    .footer {
        padding: 40px 0;
        padding-bottom: 92px;
    }

    .row {
        flex-wrap: wrap;
    }

    .row:first-child {
        justify-content: center;
        width: 100%;
        margin-bottom: 0;
    }

    .social {
        margin-bottom: 40px;
    }

    .social__item {
        margin-right: 24px;
    }
    
    .social__item:last-child {
        margin-right: 0;
    }

    .logo {
        margin-top: 8px;
        justify-content: center;
    }

    .list {
        margin-bottom: 40px;
        margin-right: 0;
        width: 50%;
    } 

    .container-copyter {
        align-self: flex-start;
        width: 50%;
    }
}

@media screen and (max-width: 360px) {

    .footer {
        background-image: url('../img/bg-mobile.svg');
    }

    .list__title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    
    .copyter {
        text-align: right;
        white-space: normal;
    }

}